site_name: The Internals of Spark Declarative Pipelines
site_url: https://books.japila.pl/spark-declarative-pipelines
site_author: Jacek Laskowski
site_description: Demystifying inner-workings of Spark Declarative Pipelines

repo_name: Github
repo_url: https://github.com/japila-books/spark-declarative-pipelines
edit_uri: edit/main/docs/

copyright: Copyright &copy; 2026 Jacek Laskowski

theme:
  name: material
  language: en
  icon:
    logo: material/book-open-page-variant
    repo: material/github
  features:
    # https://squidfunk.github.io/mkdocs-material/reference/code-blocks/#adding-annotations
    - content.code.annotate
    # https://squidfunk.github.io/mkdocs-material/upgrade/#contentcodecopy
    - content.code.copy
    # https://squidfunk.github.io/mkdocs-material/reference/content-tabs/#linked-content-tabs
    - content.tabs.link
    - content.tooltips
    - navigation.indexes
    - navigation.instant
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#navigation-path
    - navigation.path
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

markdown_extensions:
  - admonition
  - attr_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tilde

plugins:
  # https://lukasgeiter.github.io/mkdocs-awesome-nav/migration-v3/
  - awesome-nav
  - macros
  # https://squidfunk.github.io/mkdocs-material/reference/#built-in-meta-plugin
  - meta
  - minify:
      minify_html: true
  - search
  # https://squidfunk.github.io/mkdocs-material/reference/#built-in-typeset-plugin
  - typeset

extra:
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY
  book:
    title: Spark Declarative Pipelines
    spark_sql: https://books.japila.pl/spark-sql-internals
    spark_connect: https://books.japila.pl/spark-connect-internals
    structured_streaming: https://books.japila.pl/spark-structured-streaming-internals
  scala:
    # https://github.com/apache/spark/blob/v4.1.1/pom.xml#L176
    version: 2.13.17
    binary_version: 2.13
    api: https://www.scala-lang.org/api/2.13.17
    docs: https://docs.scala-lang.org/
    spec: https://www.scala-lang.org/files/archive/spec/2.13
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/jaceklaskowski
    - icon: fontawesome/brands/bluesky
      link: https://bsky.app/profile/books.japila.pl
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/jaceklaskowski
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/jaceklaskowski
    - icon: fontawesome/brands/medium
      link: https://jaceklaskowski.medium.com
    - icon: fontawesome/brands/mastodon
      link: https://fosstodon.org/@jaceklaskowski
  spark:
    version: 4.1.1
    commit: https://github.com/apache/spark/commit
    docs: https://spark.apache.org/docs/4.1.1
    github: https://github.com/apache/spark/blob/v4.1.1
    jira: https://issues.apache.org/jira/browse

validation:
  omitted_files: warn
  absolute_links: warn
  unrecognized_links: warn

# nav section is in the separate file ".nav.yml" managed by Awesome Nav for MkDocs plugin
# https://lukasgeiter.github.io/mkdocs-awesome-nav/features/nav/